<footer id="footer" class="site-footer container-fluid">

    <div class="row-fluid text-center">
        <p>Make with <span class="love">&hearts;</span> by <a href="http://dslab.lzu.edu.cn" >DSLab</a> &bull; Copyright {{ site.time | date:"%Y"}}</p>
        <p>本站所有内容遵守 <a href="https://github.com/LZU-DSLab/kernel/blob/gh-pages/LICENSE.txt">CC-BY-SA-4.0</a> 协议 &bull; <a href="https://github.com/LZU-DSLab/kernel/issues">Issues</a> </p>
        <p>{{ site.description }}</p>
    </div>
    <script type="text/javascript" src='{{ "/assets/main.js" | prepend:site.baseurl }}'></script>

</footer>
