.post-meta{
  font-size: 14px;
  line-height: 16px;
  .label {
    margin-right: 3px;
  }
}

.post-content {
  font-size: 16px;
  line-height: 25px;
}

.home p {
  line-height: 28px;
}

.pdf-wrapper {
  border: none;
  position: fixed;
  box-shadow: 0 0 10px #b0b0b0;
  bottom: 35px;
  left: 35px;
  height: 0;
  width: 0;
}
.pdfToggle {
  border-radius: 50%;
  box-shadow: 0 0 10px #646464;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  position: fixed;
  bottom: 16px;
  left: 16px;
  padding: 0;
  z-index: 10;
}
.pdfToggle:focus {
  outline: none;
  border: none;
}

#rootContainer>.row-fluid>.span8 {
  @media (max-width: 979px) {
    border-bottom: dashed 1px #e0e0e0;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
}

@import
  "minima/header",
  "minima/footer",
  "minima/categories",
  "minima/search",
  "minima/acticle"
;
