.post-meta{
  font-size: 14px;
  line-height: 16px;
  .label {
    margin-right: 3px;
  }
}

.post-content {
  font-size: 16px;
  line-height: 25px;
}

.pdf-wrapper {
  border: none;
  position: fixed;
  bottom: 154px;
  right: 10px;
}

#rootContainer>.row-fluid>.span8, #rootContainer>.row-fluid>.span6 {
  @media (max-width: 979px) {
    border-bottom: dashed 1px #e0e0e0;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
}

#article {
  @media (max-width: 979px) {
    width: 100%;
    height: auto !important;
  }
}

#sidebar {
  @media (max-width: 979px) {
    width: 100%;
  }
}

@import
  "minima/header",
  "minima/footer",
  "minima/categories",
  "minima/search"
;
