---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.hero-unit{
  padding: 30px;
  font-size: 16px;
  line-height: 26px;
  background-color: #FFFFFF;
  font-weight: 400;
  border-bottom: dashed 1px #ddd;
}

.post-content {
  font-size: 16px;
  line-height: 25px;
}

.pdf-wrapper {
  border-left: solid 2px #eee;
  position: fixed;
  bottom: 154px;
  right: 10px;
}

#article {
  @media (max-width: 979px) {
    width: 100%;
    height: auto !important;
  }
}

#sidebar {
  @media (max-width: 979px) {
    width: 100%;
  }
}

@import "minima";