.toggle-pdf {
    float: right;
    margin-top: 10px;
}

.post-wrapper-on-pdf-show {
    width: 30%;
    float: left;
    max-width: 100%;
}

.pdf-wrapper-on-pdf-show {
    width: 64%;
    display: block !important;
}

#pdf-canvas {
    border: solid 1px #d0d0d0;
}

.pdf-wrapper {
    float: left;
    display: none;
}