#categories, #tags {
  .breadcrumb {
    a {
      text-decoration: none;
      border: dashed 1px #ccc;
      border-radius: 3px;
      padding: 3px 5px;
      margin: 5px 3px;
      display: inline-block;
      color: #555555;
      font-size: 16px;
      .label {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
      }
      span {
        margin-left: 10px;
        vertical-align: super;
        font-size: .8em;
      }
    }
    a:hover {
      background-color: #EEEEEE;
    }
  }
  h3 {
    text-shadow: 1px 1px 1px #868686;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &>ol {
    list-style: none;
    &>li {
      border-bottom: dashed 1px #e0e0e0;
      ul{
        list-style: none;
        padding: 0;
        li{
          font-size: 1.2rem;
          line-height: 2rem;
          a {
            color: #337ab7;
            margin-right: 10px;
          }
          span {
            font-size: 1rem;
            color: #868686;
          }
        }
      }
      &>h4 {
        font-size: 1.4rem;
        small {
          font-size: 1rem;
          color: #868686;
        }
      }
    }
  }
  &>ul {
    list-style: none;
    border-bottom: dashed 1px #e0e0e0;
    li {
      font-size: 1.4rem;
      line-height: 2rem;
      a {
        color: #337ab7;
        margin-right: 10px;
      }
      small {
        font-size: 1rem;
        color: #868686;
      }
    }
  }
}