#categories, #tags {
  .breadcrumb {
    a {
      text-decoration: none;
      border: dashed 1px #ccc;
      border-radius: 3px;
      padding: 3px 5px;
      margin: 5px 3px;
      display: inline-block;
      color: #555555;
      font-size: 16px;
      .label {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
      }
      span {
        margin-left: 10px;
        vertical-align: super;
        font-size: .8em;
      }
    }
    a:hover {
      background-color: #EEEEEE;
    }
  }
  h3 {
    text-shadow: 1px 1px 1px #868686;
    font-weight: 500;
  }
  &>ol {
    list-style: none;
  }
  ul li {
    line-height: 24px;
  }
}