#navbar {
  @media (min-width: $tablet) {
    width: 250px;
    height: 100%;
    background-color: #1b1b1b;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
  }
  .brand {
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
    a {
      text-decoration: none;
      color: #FFFFFF;
      text-shadow: 1px 1px 1px #646464;
    }
  }
  .nav-links {
    list-style: none;
    padding:0;
    li {
      padding: 0 2.8rem;
      .page-link {
        text-decoration: none;
        color: #FFFFFF;
        line-height: 3rem;
        font-size: 1.3rem;
        letter-spacing: 1px;
      }
    }
    li:hover {
      background-color: #868686;
      .page-link {
        text-decoration: underline;
      }
    }
  }
  .site-attention {
    position: absolute;
    bottom: 20px;
    p {
      padding: 0 2.8rem;
      line-height: 1.5rem;
      .heart {
        color: #ff0000;
      }
      a {
        color: #a9a9a9;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}