---
layout: default
---
<div id="categories" class="span8">
    <h2 class="page-header">所有分类</h2>
    <div class="breadcrumb">
    {% for cat in site.categories %}
        <a href="#{{ cat | first }}">{{ cat | first }}<span>{{ cat | last | size }}</span></a>
    {% endfor %}
    </div>

    {% assign post_by_cat = site.posts | group_by:"categories" %}

    {% for cat in post_by_cat %}
        <h3 id="{{ cat.name |remove:'[' |remove:']' |remove:'"' }}">
            {{ cat.name |remove:"[" |remove:"]" |remove:'"' }}
        </h3>
        <ul>
            {% assign post_by_recommend = cat.items | group_by:"recommend" %}
            {% for recommend in post_by_recommend %}
                <li><h4>
                        {{ recommend.name }}
                        <small>共{{ recommend.items | size }}篇</small>
                    </h4>
                    <ul>
                        {% for post in recommend.items %}
                            <li>
                                <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
                                <span>{{ post.cites }}次</span>
                                • <span>{{ post.author }}</span>
                                • <span>{{ post.date | date:"%Y-%m-%d" }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% include sidebar.html %}