---
layout: default
---

<div id="home" class="home">

    {% for post in paginator.posts %}
    <section class="post-infos">
        <h3 class="post-title">
            <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title | escape }}</a>
        </h3>
        <div class="post-metas">
            <span class="meta">
                <i class="fa fa-calendar" arria-hidden="true"></i> {{ post.date | date: "%Y-%m-%d" }}
            </span>&nbsp;&bull;&nbsp;
            <span class="meta">
                <i class="fa fa-folder-open-o" arria-hidden="true"></i>
              {% for cat in post.categories %}
                <a href="{{ site.baseurl }}/categories/#{{ cat |escape |upcase }}">{{ cat |escape |upcase }}</a>,
              {% endfor %}
            </span>&nbsp;&bull;&nbsp;
            <span class="meta">
                <i class="fa fa-tags" arria-hidden="true"></i>
              {% for tag in post.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ tag |escape |upcase }}">{{ tag |escape |upcase }}</a>,
              {% endfor %}
            </span>&nbsp;&bull;&nbsp;
            <span class="meta">
                <span class="label-important"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                {{ post.recommend }}
            </span>&nbsp;&bull;&nbsp;
            <span class="meta">
                <span class="label-important">
                    <i class="fa fa-code-fork" arria-hidden="true"></i>
                </span>
                {{ post.cites }} 次
            </span>
        </div>
        <div class="post-excerpt">
            {% if post.description %}
                {{ post.description }}
            {% else %}
                {{ post.excerpt }}
            {% endif %}
        </div>
        <a class="more" href="{{ post.url | prepend:site.baseurl }}">MORE &raquo;</a>
    </section>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        <ul>
            {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
            </li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <li class="active"><a href="#">{{ page }}</a></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            </li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}


</div>
