---
layout: default
---

<div class="home">
    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | prepend:site.baseurl }}">{{ post.title | escape }}</a>
            </h2>
            <span class="post-meta">日期：{{ post.date | date: "%Y-%m-%d" }}</span>
            <span class="post-meta">分类：
              {% for cat in post.categories %}
                <a href="{{ site.baseurl }}/categories/#{{ cat }}">{{ cat |escape }}</a>&nbsp;&nbsp;
              {% endfor %}
            </span>
            <span class="post-meta">分类：
              {% for tag in post.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ tag }}" >{{ tag |escape }}</a>&nbsp;&nbsp;
              {% endfor %}
            </span>
            <span class="post-meta">推荐值：{{ post.recommend }}&nbsp;&nbsp;</span>
            <span class="post-meta">被引用：{{ post.cites }}次</span>
            <p class="post-description">
                {% if post.description %}
                {{ post.description }}
                {% else %}
                {{ post.excerpt }}
                {% endif %}
            </p>
        </li>

        {% endfor %}
    </ul>

</div>
