---
layout: default
---
<div id="article" class="span6">
    <div class="media">
        <h3 class="page-header" itemprop="name headline">{{ page.title | escape }}</h3>
        <p class="media-body">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%Y-%m-%d" }}
            </time>
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
            </span>
            • <span>{{ page.cites }}次</span>
            • <span>
                {% for cat in page.categories %}
                    <a href='{{ "/categories/#" | prepend:site.baseurl | append:cat }}' title="{{cat}}">{{cat}}</a>
                {% endfor %}
            </span>
            • <span>
                {% for tag in page.tags %}
                    <a href='{{ "/tags/#" | prepend:site.baseurl | append:tag }}' title="{{tag}}">{{tag | upcase}}</a>
                {% endfor %}
            </span>
            <input id="url" type="hidden" value='{{ "/data/papers/" | prepend:site.baseurl | append:page.paper}}'>
        </p>
    </div>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="page-nav">
        <ul class="pager">
            {% if page.previous %}
                <li class="previous disabled">
                    <a href="#">&larr; 上一篇</a>
                </li>
            {% else %}
                <li class="previous">
                    <a href="{{ page.previous.url | prepend:site.baseurl }}">&larr; {{page.previous.title | escape |truncatewords:5}}</a>
                </li>
            {% endif %}

            {% if page.next %}
                <li class="next disabled">
                    <a href="#">下一篇 &rarr;</a>
                </li>
            {% else %}
                <li class="next">
                    <a href="{{page.next.url | prepend:site.baseurl }}">{{ page.next.title |escape |truncatewords:5 }} &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% if site.duoshuo-shortname %}
        {% include duoshuo_comments.html %}
    {% endif %}
</div>
{% include pdfjs.html %}
<div class="hidden-desktop">
    {% include sidebar.html %}
</div>
